@import "../variables";

.event-list-item {
  height: 96px;
  border: 1px solid #000000;
  border-radius: 4px 4px 8px 8px;
  padding: 8px 16px;
  color: $secondary-text;
}

.eli-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.eli-text {
  font-size: 20px;
  margin: 0;
}

.eli-container {
  box-shadow: $bottom-right-shadow;
  border-radius: 4px 4px 8px 8px;
  width: 100%;
  margin-top: 12px;
}

.eli-link {
  font-size: 20px;
  margin: 0;
  text-decoration: none;
  color: $primary-light;
}