@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid #AFB5BF;
  border-bottom-color: #CA001E;
  animation: 1000ms linear infinite spin;
}