//Variables for consistent color usage
$primary-color: #1565c0;
$primary-light: #5e92f3;
$primary-dark: #003c8f;
$primary-text: #ffffff;

$secondary-color: #e91e63;
$secondary-light: #ff6090;
$secondary-dark: #b0003a;
$secondary-text: #000000;

$background-grey: #E1E2E1;

$horizontal-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
$vertical-shadow: 0 0 4px rgba(0,0,0,.14), 4px 0 8px rgba(0,0,0,.28);
$bottom-right-shadow: 0 0 4px rgba(0,0,0,.14), 4px 4px 8px rgba(0,0,0,.28);