@import "../../variables";

.csr {
  margin-top: 12px;
  border-radius: 8px;

  &.editing {
    width: 100%;

    .csr-button {
      display: none;
    }
    .csr-box {
      display: block;
    }
  }
}

.csr-button {
  color: white;
  background-color: $primary-color;
  border-radius: 24px;
  box-shadow: $bottom-right-shadow;

  p {
    margin: 0;
    padding: 12px;
  }
}

.csr-box {
  background-color: $primary-color;
  border: 1px solid #000000;
  border-radius: 4px 4px 8px 8px;
  padding: 8px 16px;
  color: white;
  box-shadow: $bottom-right-shadow;
}

.csr-input-container {
  input, textarea {
    box-shadow: none;
    background-color: $primary-color;
    color: white;
    border: none;
    border-bottom: 1px white solid;
    font-size: 16px;
    padding: 0;
    text-align: right;
    &.number {
      width: 40px;
    }
  }
  textarea {
    border: 1px solid black;
    height: 124px;
  }
}

.crs-submit {
  border: 1px solid black;
  border-radius: 4px;
  background-color: $primary-dark;
  padding: 8px;
  box-shadow: $bottom-right-shadow;
}